name: Release for win lib
on:
  workflow_dispatch:
  release:
    types: [published, edited]


jobs:
  release_windows:
    name: Release Windows (x86_64)

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install OpenSSL via vcpkg
        run: |
          vcpkg install --triplet x64-windows-static-md

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: OpenSSL_static
          path: C:/vcpkg/packages/openssl_x64-windows-static-md/*

      - name: Update GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          files: |
            C:/vcpkg/packages/openssl_x64-windows-static-md/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
