name: Build OpenSSL Static from VCPKG
on:
  workflow_dispatch:
  release:
    types: [published, edited]


jobs:
  release_windows:
    name: Release Windows (x86_64)

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install OpenSSL via vcpkg
        run: |
          vcpkg install --triplet x64-windows-static-md

      - name: Compress OpenSSL build to maximum 7z
        run: |
          7z a -t7z -m0=LZMA2 -mmt=on -mx3 -md=4m -mfb=32 -ms=1g -mqs=on -sccUTF-8 -bb0 -bse0 -snl -mtc=on -mta=on openssl-static.7z C:/vcpkg/packages/openssl_x64-windows-static-md/

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: OpenSSL_static
          path: openssl-static.7z

      - name: Update GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          files: |
            openssl-static.7z
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
