name: Build OpenSSL Static Library
on:
  workflow_dispatch:
  release:
    types: [published, edited]


jobs:
  build-openssl:
    runs-on: windows-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup Perl (Strawberry Perl)
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: '5.42'

    - name: Setup NASM
      uses: ilammy/setup-nasm@v1

    - name: Setup Developer Command Prompt (VS Build Tools)
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Download OpenSSL source
      run: |
        curl -LO https://www.openssl.org/source/openssl-3.5.2.tar.gz
        tar -xf openssl-3.5.2.tar.gz

    - name: Build OpenSSL Static x64
      shell: powershell
      run: |
        cd openssl-3.5.2
        perl Configure VC-WIN64A no-shared no-dynamic-engine --prefix=$PWD\install
        nmake
        nmake install

    - name: Verify build output
      run: dir openssl-3.5.2\install\lib

    - name: Compress OpenSSL build to maximum 7z
      run: |
        7z a -t7z -m0=LZMA2 -mmt=on -mx3 -md=4m -mfb=32 -ms=1g -mqs=on -sccUTF-8 -bb0 -bse0 -snl -mtc=on -mta=on openssl-test-static.7z openssl-3.5.2\install\lib\

    - name: Upload builds
      uses: actions/upload-artifact@v4
      with:
        name: OpenSSL_static
        path: openssl-test-static.7z

    - name: Update GitHub Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.release.tag_name }}
        name: ${{ github.event.release.name }}
        draft: false
        prerelease: false
        files: |
          openssl-test-static.7z
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
